.filter{
    padding: 0 0 50px;
    &__list{
        display: flex;
        justify-content: center;
        gap: 8px;
        @include reset-list;
    }
    &__button{
        color: getColor(defaultFontColor);
        cursor: $focuscursor;
        @include font-size(500, 16px, 1.625, 0.03em);
        text-align: center;
        background-color: getColor(bg-color-btn-filter);
        border-radius: 4px;
        border: 0;
        padding: 6px 22px;
        transition: background-color $timetransition, color $timetransition, box-shadow $timetransition;
        &:hover,
        &:focus{
            background-color: getColor(colorbrand);
            color: getColor(filter-button-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
}